body {
	background-color: #f0f0f0;
	margin: 1.5em;
}

* {
/*	border: 1px solid black; */
}

/*/
/////
///    Blocks & Elements styles
/////
/*/

#wrapper {
	background-color: #fefefe;
	max-width: 1024px;
	min-width: 512px;
	margin-right: auto;
	margin-left: auto;
	display: table;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.25), 0 0 10px 0 rgba(0,0,0,0.15);
	padding: 1.5em;
	position: relative; /* Anti-firefox measures */
}

.section {
	display: table-row;
}

.section__header {
	width: 29%;
	font-size: 2em;
	display: table-cell;
	text-align: right;
	color: #333333;
	font-family: "Webfont", Arial, sans-serif;
	font-weight: 100;
	vertical-align: top;
	padding: 1rem;
}

.section__contents {
	width: 100%;
	font-size: 1.2em;
	display: block;
	color: #222222;
	font-family: "Webfont", Arial, sans-serif;
	font-weight: 100;
	float: right;
	clear: right;
	padding: 1rem;
    box-sizing: border-box;
}

/* Anti-firefox measures */
.section__firefox-has-no-column-span-since-2010 {
	height: 15em;
}

.section__contents_site_header {
	position: absolute;	 /* Anti-firefox measures */
	width: auto;
	height: 15em;
	right: 1.5em;
	left: 1.5em;
	text-align: center;
}

.photo__self {
	height: 15em;
	border-radius:50%;
	vertical-align: middle;
}

.bio {
	display: inline-block;
	text-align: left;
	margin: 1.5em;
}

.entry__header {
	margin: 0.2rem 0 0.6rem -0.1rem;
}

/*/
/////
///    Text styles
/////
/*/

.entry__header_qualification {
	font-size: 1.5em;
	font-weight: 500;
	display: inline-block;
	margin-right: 1.3rem;
}

.entry__header_location {
	font-size: 0.7em;
	font-weight: 900;
	color: #aaaaaa;
}

time {
	font-size: 0.7em;
	top: -0.4em;
	position: relative;
	margin-left: 0.1em;
}

.anything__that_has_title_attribute {
	border-bottom: 1px dotted; /* Everything-except-Firefox-does-not-support-text-decoration-style */
	cursor: help;
}

/*/
/////
///    Mobile version corrections
/////
/*/

@media screen and (max-width: 768px) {
	.section__header {
		width: 100%;
		display: block;
		text-align: center;
	}

	.section__contents {
		
	}
}