body {
	background-color: #f0f0f0;
	margin-bottom: 0px;
	margin-top: 0px;
}

#wrapper {
	background-color: #fefefe;
	max-width: 1024px;
	min-width: 512px;
	margin-right: auto;
	margin-left: auto;
	/* debug */
	height: 1024px;
	
}

.section__header {
		width: 29%;
		font-size: 2em;
		display: inline-block;
		text-align: center;
		color: #444444;
		font-family: "Webfont", Arial, sans-serif;
		font-weight: 100;
	}

.section__contents {
	width: 69%;
	font-size: 1.2em;
	display: inline-block;
	color: #222222;
	font-family: "Webfont", Arial, sans-serif;
	font-weight: 100;
}

@media screen and (max-width: 768px) {
	.section__header {
		width: 100%;
	}

	.section__contents {
		width: 100%;
	}
}