body {
	background-color: #f0f0f0;
	margin: 1.5em;
}

html {
	scroll-behavior: smooth;	/* Ah-h-h. Here I come, browser hell! */
}

* {
/*	border: 1px solid black; */
}

/*/
/////
///    Blocks & Elements styles
/////
/*/

#wrapper {
	background-color: #fefefe;
	max-width: 1024px;
	min-width: 512px;
	margin-right: auto;
	margin-left: auto;
	display: table;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.25), 0 0 10px 0 rgba(0,0,0,0.15);
	padding: 1.5em;
	position: relative; /* Anti-firefox measures */
}

.section {
	display: table-row;
}

.section__header {
	width: 29%;
	font-size: 2em;
	display: table-cell;
	text-align: right;
	color: #333333;
	font-family: "Webfont", Arial, sans-serif;
	font-weight: 100;
	vertical-align: top;
	padding: 1rem;
}

.section__contents {
	width: 100%;
	font-size: 1.2em;
	display: block;
	color: #222222;
	font-family: "Webfont", Arial, sans-serif;
	font-weight: 100;
	float: right;
	clear: right;
	padding: 1rem;
    box-sizing: border-box;
}

/* Anti-firefox measures */
.section__firefox-has-no-column-span-since-2010 {
	height: 18em;
}

.section__contents_site_header {
	position: absolute;	 /* Anti-firefox measures */
	width: auto;
	height: 17em;
	right: 1.5em;
	left: 1.5em;
	text-align: center;
	padding-top: 1em;
}

.section__photo {
	display: inline-block;
	max-width: 7rem;
	max-height: 7rem;
	width: auto;
	height: auto;
	vertical-align: middle;
	margin: 0.5em 0.5em 0 0;
}

.bio__photo_self {
	height: 15rem;
	border-radius:50%;
	vertical-align: middle;
}

.bio {
	display: inline-block;
	text-align: left;
	margin: 1.5em;
	font-family: "Webfont", Arial, sans-serif;
}

.entry__header {
	margin: 0.2rem 0 0.6rem -0.1rem;
}

.percentage_bar {
	width: 40%;
	background-color: #f0f0f0;
	/*padding: 2px 1px;*/
	border: 1px solid #cccccc;
	/*padding: 1px;*/
	height: 0.5em;
	display: inline-block;
	float: right;
	margin-right: 30%;
	margin-top: 0.35em;
}

.percentage_bar_subskill {
	width: 57.2%;	/* It just looks good. */
	margin-right: 0%;
}

.percentage_bar__filling {
	float: left;
	width: 66%; /**/
	height: 100%;
	background-color: #cccccc;
}

.skill_list__item {
	margin-bottom: 0.25em;
}

.skill_list__subskills_list_item {
	
}

#menu {
	background-color: #fefefe;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.25), 0 0 5px 0 rgba(0,0,0,0.15);
	margin: 0;
	padding: 1.5em;
	display: inline-block;
	left: -21em;
	width: 14em;
	position: relative;
	list-style-type: none;
	text-align: right;
	pointer-events: all;
}

.menu__item {
	font-size: 2em;
	margin-top: 0.15em;
}

#menu a {
	text-decoration: none
}

.menu__wrapper {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 1.5em;
	pointer-events: none;
}

.menu__wrapper_fake_contents {
	max-width: 1024px;
	min-width: 512px;
	margin-right: auto;
	margin-left: auto;
}

/*/
/////
///    Text styles
/////
/*/

.bio__name {
	font-size: 2.2em;
	font-family: "Times New Roman", Times, serif;
}

.bio__description {
	text-align: left;
	font-size: 1.2em;
	display: inline-block;
}

.entry__header_qualification {
	font-size: 1.5em;
	font-weight: 500;
	display: inline-block;
	margin-right: 1.3rem;
}

.entry__header_location {
	font-size: 0.7em;
	font-weight: 900;
	color: #aaaaaa;
}

.entry__header_undertext {
	font-size: 0.7em;
	top: -0.4em;
	position: relative;
	margin-left: 0.1em;
	margin-right: 1.5em;
}

.entry__header_undertext_prefer_fixed_width {
	min-width: 8em;
	display: inline-block;
}

.anything__that_has_title_attribute {
	border-bottom: 1px dotted; /* Everything-except-Firefox-does-not-support-text-decoration-style */
	cursor: help;
}

.subskill__name {
	margin-left: 1em;
	width: 36%;
	display: inline-block;
}

.skill_list__item__header {
	display: inline-block;
	width: 29%;
}

a:link {
	color: #888888;
}

a:visited {
	color: #cccccc;
}

a:hover {
	color: inherit;
}

.link_that_leads_to_the_same_page {
	color: #888888;
	text-decoration: none;
	border-bottom: 1px dashed;
}

.link_that_leads_to_the_same_page:hover {
	color: inherit;
}

.entry__skills_list {
	margin-top: 0.5em;
	display: inline-block;
}

.entry__skills_list__item {
	border-radius: 0.5em;
	background-color: #eeeeee;
	padding: 0.1em 0.4em;
	margin: 0 0.2em;
}

/*/
/////
///    Vue.js animations
/////
/*/

.spoiler {
	overflow: hidden;
	box-shadow: inset 0px -10px 15px -20px rgba(0,0,0,1), inset 0px 10px 15px -20px rgba(0,0,0,1);
	width: 70%;
	display: inline-block;
	padding: 0.5em 0;
}

.spoiler-enter, .spoiler-leave-to {
	max-height: 0;
	padding: 0;
}

.spoiler-enter-to, .spoiler-leave {
	max-height: 200px;
	padding: 1em 0;
}

.spoiler-enter-active, .spoiler-leave-active {
  transition: max-height .5s ease-in, padding .5s ease-in;
}

/*/
/////
///    Mobile version corrections
/////
/*/


@media screen and (max-width: 1720px) {
	.menu__wrapper {
		display: none;
	}
}

@media screen and (max-width: 880px) {
	.section__header {
		width: 100%;
		display: block;
		text-align: center;
		font-size: 2.5em;
	}

	.section__contents {
		
	}
	
	.entry__header {
		text-align: center;
	}
	
	.bio {
		display: block;
		text-align: center;
	}
	
	.bio__name{
		display: block;
	}
	
	.section__firefox-has-no-column-span-since-2010 {
		height: 27em;
	}
	
	.section__contents_site_header {
		height: 27em;
	}
}