<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="yandex-verification" content="02857c5790ebd962" />
		<link href="css/stylesheet.css" rel="stylesheet" />
		<link href="css/photo_enlarger.css" rel="stylesheet" />
		<title>Java-разработчик Павел Маминов ~ Резюме</title>
		<!-- 300ms is too much. Will use on-site version.
		<script type="text/javascript" src="https://unpkg.com/vue"></script>
		-->
		<script async type="text/javascript" src="js/photo_enlarger.js"></script>
		<script defer type="text/javascript" src="js/vue.js"></script>
		<script defer type="text/javascript" src="js/data.js"></script>
		<script defer type="text/javascript" src="js/vue-renderer.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<section class="section section__firefox-has-no-column-span-since-2010">
				<div class="section__contents_site_header" is="about-developer" v-bind="general">
				</div>
			</section>
			<section class="section">
				<h2 id="job_history" class="section__header">							
					История работы
				</h2>
				<div class="section__contents" is="work-place" v-for="place in job_history" v-bind="place">
				</div>
			</section>
			<section class="section">
				<h2 id="education_history" class="section__header">							
					Образование
				</h2>
				<div class="section__contents" is="education-place" v-for="place in education_history.primary" v-bind="place">
				</div>
				<div class="section__contents" is="education-place" v-for="place in education_history.secondary" v-bind="place">
				</div>
			</section>
			<section class="section">
				<h2 id="skills" class="section__header">							
					Навыки
				</h2>
				<div class="section__contents" is="skill-family" v-if="skill_family.skillsets.length > 0" v-for="skill_family in skills.skill_families" v-bind="skill_family">
				</div>
			</section>
			<section class="section">
				<h2 id="books_read" class="section__header">							
					Книги
				</h2>
				<div class="section__contents" is="book-read" v-for="book_read in books_read.list" v-bind="book_read">
				</div>
			</section>
			
			<div class="menu__wrapper">
				<div class="menu__wrapper_fake_contents">
					<menu id="menu">
						<li class="menu__item"><a href="#">В начало</a></li>
						<li class="menu__item"><a href="#job_history">История работы</a></li>
						<li class="menu__item"><a href="#education_history">Образование</a></li>
						<li class="menu__item"><a href="#skills">Навыки</a></li>
						<li class="menu__item"><a href="#books_read">Книги</a></li>
					</menu>
				</div>
			</div>
			
			<transition name="photo_enlarger">
				<div v-show="is_photo_enlarger_active" id="photo_enlarger__white_background" v-on:click="hide_photo_enlarger">
					<img src="" id="photo_enlarger__photo" />
				</div>
			</transition>
		</div>
	</body>
<html>